<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="background-container">

    <div class="title">
        <h1>Shopping Cart</h1>
    </div>

    <div class="no_user" [style.display]="login">
        <h1>Log in to view Cart</h1>
    </div>

    <div class="cart-menu">
        <a *ngFor="let product of this.iterableCart">
            <div class="product-container">
                <div class="product-image">
                    <img src={{product.image}} alt="productImage" (click)="navigateToProductPage(product)">
                </div>
                <div class="product-info">
                    <span class="badge">{{product.name}}</span>
                    <button *ngIf="this.isRemoveButtonVisible" (click)="removeFromCart(product);">Remove from Shopping Cart</button>
                </div>
            </div>
        </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="buttons">
        <button class="productButton" (click)="navigateToProducts()">Browse More Products</button>
        <br>
        <br>
        <button class="checkoutButton" (click)="navigateToCheckout()">Go To Checkout</button>
    </div>>
</div>
